---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['nest.js', 'django', 'nuxt.js', 'fastAPI', 'nx', 'monorepo', 'kubernetes', 'terraform'];
const description = `
  <p class="text-left">
    Picture of <a
      href="https://unsplash.com/es/@francescobiancoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Alpes (near Ortisei [Italy])</a
    >
  </p>
`;
---

<Layout
	tags={tags}
	icon="mountains"
	title="About Me"
	description= {description}
	pubDate={new Date('March 15 2025')}
	heroImage="/src/assets/mountains.jpg"
>
<h1>Web Development</h1>
I build web software solutions with following technologies:
<ul>
	<li>Typescript</li>
	<li>Azure Functions</li>
	<li>Nest.js</li>
	<li>NX</li>
	<li>Django</li>
	<li>Django REST Framework</li>
	<li>fastAPI</li>
	<li>SQLAlchemy</li>
	<li>Nuxt.Js</li>
</ul>

<h1>DevOps</h1>
I supervise infrastucture with following technologies:
<ul>
	<li>Docker</li>
	<li>Kubernetes</li>
	<li>Jenkins</li>
	<li>Terraform</li>
	<li>Kibana</li>
</ul>

<br>

<h1>Databases</h1>
<ul>
	<li>PostgreSQL</li>
	<li>Elasticsearch</li>
</ul>

<h1>Cloud</h1>
<ul>
	<li>Google Cloud Platform</li>
	<li>Azure</li>
</ul>

<h1>Refactoring and Testing</h1>
I'm able to testing and refactoring on different frameworks:
<ul>
	<li>Laravel -> Django/DRF</li>
	<li>Pytest</li>
	<li>Django Test</li>
</ul>

</Layout>
